@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --color: #009dff;
}

body {
 padding: 0px;
 margin: 0px;
 background-color: #333333;
 font-family: 'Press Start 2P', cursive, sans-serif;
}

#scene {
 background-color: rgba(1,1,1,0.5);
}

/*Style de l'affichage du score*/

#score{
    color:  white;
    padding: 5px;
    border: solid 1px white;
    font-size: 0.8rem;
}

footer{
    text-align: center;
    width: 100%;
    bottom: 1rem;
    opacity: 0.3;
    position: absolute;
    color: white;
}

.logo{
    display: block;
    margin: auto;
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

#play{
    display: block;
    padding: 0.5rem 1rem;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Press Start 2P';
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
}
.background__noise {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
        object-fit: cover;
    mix-blend-mode: overlay;
    opacity: 0.8;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.background__gradient {
    position: absolute;
    transition: color ease 1s;
    z-index: -2;
    top: 50vh;
    width: 2400px;
    height: 2600px;
    border-radius: 50%;
    filter: blur(100px);
    -webkit-animation: rotate-background 10s linear infinite;
            animation: rotate-background 10s linear infinite;
}
.background__gradient {
    background-image: linear-gradient(90deg, var(--color), var(--color));
    -webkit-transition:color 1s ease;
    -moz-transition:color 1s ease;
    -o-transition:color 1s ease;
    transition:all 1s ease;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
  }
  
  @-webkit-keyframes rotate-background {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(1turn);
    }
  }
  
  @keyframes rotate-background {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(1turn);
    }
  }
  @-webkit-keyframes tilting {
    0% {
      transform: rotate(1deg);
    }
    50% {
      transform: rotate(-1deg);
    }
    100% {
      transform: rotate(1deg);
    }
  }
  @keyframes tilting {
    0% {
      transform: rotate(1deg);
    }
    50% {
      transform: rotate(-1deg);
    }
    100% {
      transform: rotate(1deg);
    }
  }
  @-webkit-keyframes floating {
    0% {
      transform: translate(0, -1vh);
    }
    50% {
      transform: translate(0, 1vh);
    }
    100% {
      transform: translate(0, -1vh);
    }
  }
  @keyframes floating {
    0% {
      transform: translate(0, -1vh);
    }
    50% {
      transform: translate(0, 1vh);
    }
    100% {
      transform: translate(0, -1vh);
    }
  }